<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kopo.poly.persistance.mapper.IUserInfoMapper">
    <select id = "getUserIdExists" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT
            CASE WHEN COUNT(1) = 0 THEN 'N' ELSE 'Y' END AS EXISTS_YN
        FROM
            USER_INFO
        WHERE
            USER_ID = #{user_id}
    </select>

    <select id="getEmailExists" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT
            CASE WHEN COUNT(1) = 0 THEN 'N' ELSE 'Y' END AS EXISTS_YN
        FROM
            USER_INFO
        WHERE
            EMAIL = #{email}
    </select>
</mapper>